$color-primary: #606c76 !default;
$color-active: #535d66 !default;
$color-border-active: #9b4dca !default;
$color-error-active: #ff6600 !default;
$color-white: #fff !default;
$color-dark: #333333 !default;
$color-light: #dddddd !default;
