.container {
  margin: 0 auto;
  max-width: 12rem;
  padding: 0 0.16rem;
  position: relative;
}
.row {
  display: flex;
  flex-wrap: wrap;
  & > * {
    flex: 0 0 100%;
  }
  .col-1 {
    flex: 0 0 8.333%;
  }
  .col-2 {
    flex: 0 0 16.666%;
  }
  .col-3 {
    flex: 0 0 25%;
  }
  .col-4 {
    flex: 0 0 33.333%;
  }
  .col-5 {
    flex: 0 0 41.666%;
  }
  .col-6 {
    flex: 0 0 50%;
  }
  .col-7 {
    flex: 0 0 58.333%;
  }
  .col-8 {
    flex: 0 0 66.666%;
  }
  .col-9 {
    flex: 0 75%;
  }
  .col-10 {
    flex: 0 0 83.333%;
  }
  .col-11 {
    flex: 0 0 91.666%;
  }
  .col-12 {
    flex: 0 0 100%;
  }
  .col-offset-1 {
    margin-left: 8.333%;
  }
  .col-offset-2 {
    margin-left: 16.666%;
  }
  .col-offset-3 {
    margin-left: 25%;
  }
  .col-offset-4 {
    margin-left: 33.333%;
  }
  .col-offset-5 {
    margin-left: 41.666%;
  }
  .col-offset-6 {
    margin-left: 50%;
  }
  .col-offset-7 {
    margin-left: 58.333%;
  }
  .col-offset-8 {
    margin-left: 66.666%;
  }
  .col-offset-9 {
    margin-left: 75%;
  }
  .col-offset-10 {
    margin-left: 83.333%;
  }
  .col-offset-11 {
    margin-left: 91.666%;
  }
  .col-offset-12 {
    margin-left: 100%;
  }
}
.lg-hidden {
  display: block;
}
.lg-show {
  display: none;
}
@media (min-width: 1200px) {
  .row {
    .col-lg-1 {
      flex: 0 0 8.333%;
    }
    .col-lg-2 {
      flex: 0 0 16.666%;
    }
    .col-lg-3 {
      flex: 0 0 25%;
    }
    .col-lg-4 {
      flex: 0 0 33.333%;
    }
    .col-lg-5 {
      flex: 0 0 41.666%;
    }
    .col-lg-6 {
      flex: 0 0 50%;
    }
    .col-lg-7 {
      flex: 0 0 58.333%;
    }
    .col-lg-8 {
      flex: 0 0 66.666%;
    }
    .col-lg-9 {
      flex: 0 75%;
    }
    .col-lg-10 {
      flex: 0 0 83.333%;
    }
    .col-lg-11 {
      flex: 0 0 91.666%;
    }
    .col-lg-12 {
      flex: 0 0 100%;
    }
    .col-lg-offset-1 {
      margin-left: 8.333%;
    }
    .col-lg-offset-2 {
      margin-left: 16.666%;
    }
    .col-lg-offset-3 {
      margin-left: 25%;
    }
    .col-lg-offset-4 {
      margin-left: 33.333%;
    }
    .col-lg-offset-5 {
      margin-left: 41.666%;
    }
    .col-lg-offset-6 {
      margin-left: 50%;
    }
    .col-lg-offset-7 {
      margin-left: 58.333%;
    }
    .col-lg-offset-8 {
      margin-left: 66.666%;
    }
    .col-lg-offset-9 {
      margin-left: 75%;
    }
    .col-lg-offset-10 {
      margin-left: 83.333%;
    }
    .col-lg-offset-11 {
      margin-left: 91.666%;
    }
    .col-lg-offset-12 {
      margin-left: 100%;
    }
  }
  .lg-hidden {
    display: none;
  }
  .lg-show {
    display: block;
  }
}
